{% extends 'base.html.twig' %}

{% block title %}
	{{ titulo }}
{% endblock %}

{% block body %}
	<div>
		<div class="container d-flex justify-content-between align-items-center">
			<h1>{{ titulo }}</h1>
			<a href="{{ path('categoria')}}" class="btn btn-primary">Lista de Categorias</a>
		</div>
		<p>{{ msg }}</p>
		<div class="container">
			{{ form(form) }}
			</div>
		</div>
	{% endblock %}
